<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://java.sun.com/xml/ns/javaee" 
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
  id="WebApp_ID" version="2.5">
  
  <display-name>ControleFluxoPadaria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>servletMain</servlet-name>
  	<servlet-class>br.com.rocha.Action.MainAction</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>cadastroCC</servlet-name>
  	<servlet-class>br.com.rocha.Action.ContaCorrenteAction</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>lancamentosContas</servlet-name>
  	<servlet-class>br.com.rocha.Action.LancamentosAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>servletMain</servlet-name>
  	<url-pattern>/main</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>cadastroCC</servlet-name>
  	<url-pattern>/cadastroConta</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>lancamentosContas</servlet-name>
  	<url-pattern>/lancamentos</url-pattern>
  </servlet-mapping> 
  
</web-app>